<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaolong.cm.merch.mapper.CmProductSpecMapper">

	<select id="getByProductId" resultType="com.jiaolong.cm.merch.api.dto.ProductSpecDto">
		select cps.product_id, cps.spec_id, cs.spec_name
		from cm_product_spec cps left join cm_specification cs on cps.spec_id = cs.id
		where cps.product_id = #{productId}
	</select>

	<delete id="deleteByProductId">
		delete from cm_product_spec where product_id = #{productId}
	</delete>
	<insert id="insertBatch">
		insert into cm_product_spec (product_id, spec_id) values
		<foreach collection="specSet" item="specId" index="i" separator=",">
			(#{productId}, #{specId})
		</foreach>
	</insert>
</mapper>
