<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaolong.cm.merch.mapper.CmProductSkuMapper">

	<select id="getDtoPage" resultType="com.jiaolong.cm.merch.api.dto.ProductSkuDto">
		select cps.id, cps.sku_code, cps.sku_name, cps.product_id, cps.create_time, cps.origin_price, cps.current_price, cps.sku_pics, cps.amount,
				cps.limit_amount, cps.state, cps.if_default, cps.update_time, cps.sort_order, cps.remarks, cmi.merchant_name, cp.product_name
		from cm_product_sku cps
		left join cm_product cp on cps.product_id = cp.id
		left join cm_merchant_info cmi on cp.merchant_id = cmi.id
		where cps.deleted = '0' and cmi.deleted = '0'
		<if test="vo.merchantId != null">
			and cp.merchant_id = #{vo.merchantId}
		</if>
		<if test="vo.skuCode != null and vo.skuCode != ''">
			and cps.sku_code = #{vo.skuCode}
		</if>
		<if test="vo.skuName != null and vo.skuName != ''">
			and cps.sku_name like concat('%', #{vo.skuName}, '%')
		</if>
		<if test="vo.productName != null and vo.productName != ''">
			and cp.product_name like concat('%', #{vo.productName}, '%')
		</if>
		<if test="vo.state != null and vo.state != ''">
			and cps.state = #{vo.state}
		</if>
		<if test="vo.priceMin != null and vo.priceMin != ''">
			and cps.current_price &gt;= cast(#{vo.priceMin} as DECIMAL)
		</if>
		<if test="vo.priceMax != null and vo.priceMax != ''">
			and cps.sku_name &lt; cast(#{vo.priceMax} as DECIMAL)
		</if>
		order by cps.create_time desc
	</select>

	<update id="deleteSkuById">
		update cm_product_sku set deleted = '1' where id in
		<foreach collection="ids" index="i" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>

	<select id="getSkuListByProductId" resultType="com.jiaolong.cm.merch.api.dto.ProductSkuDto">
		select cps.id, cps.sku_code, cps.sku_name, cps.product_id, cps.create_time, cps.origin_price, cps.current_price, cps.sku_pics, cps.amount,
			   cps.limit_amount, cps.state, cps.if_default, cps.update_time, cps.sort_order, cps.remarks, cmi.merchant_name, cp.product_name
		from cm_product_sku cps
		left join cm_product cp on cps.product_id = cp.id
		left join cm_merchant_info cmi on cp.merchant_id = cmi.id
		where cps.deleted = '0' and cmi.deleted = '0' and cps.product_id = #{productId}
		order by cps.create_time desc
	</select>

    <select id="countSkuByProductId" resultType="java.lang.Integer">
		select count(*) from cm_product_sku where state = '1' and deleted = '0' and product_id = #{productId}
	</select>

	<update id="updateIfDefaultByProductId">
		update cm_product_sku set if_default = '0' where product_id = #{productId}
	</update>
</mapper>
