<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaolong.cm.merch.mapper.KdCompanyMapper">


	<select id="getAll" resultType="com.jiaolong.cm.merch.api.entity.KdCompany">
		select code, name, type from kd_company
	</select>
</mapper>
