<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaolong.cm.admin.mapper.CmOrderShoppingMapper">

	<update id="deleteOrderById">
		update cm_order_shopping set deleted = '1' where id in
		<foreach collection="ids" item="id" index="i" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>

	<select id="getUnreceivedOrders" resultType="com.jiaolong.cm.merch.api.dto.SettlementOrderDto">
		select distinct cos.id as orderId, cp.merchant_id, cos.payment_type, cos.real_price, cp.shelve_area
		from cm_order_shopping cos
		left join cm_order_logistics col on cos.order_no = col.shopping_order_no
		left join cm_order_products cop on cos.id = cop.order_id
		left join cm_product_sku cps on cop.sku_id = cps.id
		left join cm_product cp on cps.product_id = cp.id
		where cos.deleted = '0' and cos.state = '2' and cos.payment_state = '3' and cos.settlement_state = 0 and col.create_time &lt; #{offsetTime}
	</select>

	<select id="getCustomerReceivedOrders" resultType="com.jiaolong.cm.merch.api.dto.SettlementOrderDto">
		select distinct cos.id as orderId, cp.merchant_id, cos.payment_type, cos.real_price, cp.shelve_area
		from cm_order_shopping cos
		left join cm_order_products cop on cos.id = cop.order_id
		left join cm_product_sku cps on cop.sku_id = cps.id
		left join cm_product cp on cps.product_id = cp.id
		where cos.deleted = '0' and cos.state = '3' and cos.payment_state = '3' and cos.settlement_state = '0' and cos.update_time &lt; #{offsetTime}
	</select>

	<update id="updateOrderSettlementAmount">
		update cm_order_shopping set state = '3', payment_state = '3', settlement_state = '1', settlement_amount = #{amount} where id = #{id}
	</update>
</mapper>
